.library-box {
    background-color: rgb(72, 72, 68);
    border-style: solid;
    border-color: gold;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.box {
    padding-left: 15rem;
    padding-right: 15rem;
}
.see-more {
   float: right;
}

.img-library {
    max-width: 10rem;
    height: auto;
}
.section-title {
    text-align: left;
    color:  gold;
    font-size: 2rem;
}
.library-buttons {
    background-color: rgb(72, 72, 68);
    size: fluid;
}