.achievement-box {
    background-color: rgb(72, 72, 68);
    border-style: solid;
    border-color: gold;
    padding-left: 1rem;
    padding-right: 60px;
    text-align: top;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.box-achievement {
    padding-left: 10rem;
    padding-right: 10rem;
}
.img-achievement {
    max-width: 10rem;
    height: auto;
}
.section-title {
    text-align: left;
    color:  gold;
    font-size: 2rem;
}
.block-achievement {
    background-color: rgb(72, 72, 68);
    size: fluid;
}