.home-boxes {
    background-color: rgb(72, 72, 68);
    border-style: solid;
    border-color: gold;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.classes {
    background-color: rgb(72, 72, 68);
    border-style: solid;
    border-color: gold;
    text-align: center;
    padding-top: 1rem;
    padding-left: 5rem;
    padding-bottom: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.box-classes {
    padding-left: 20rem;
    padding-right: 20rem;
}
.img-class {
    max-width: 12rem;
    height: auto;
}
.section-title {
    text-align: left;
    color:  gold;
    font-size: 2rem;
}
.block-buttons {
    background-color: rgb(72, 72, 68);
    size: fluid;
}