.abort {
  width: 200px;
  position: relative;
  left: 200px;
  top: 100px;
}

.score-listing {
  width: 200px;
  height: 100px;
  position: relative;
  padding-top: 15px;
  padding-left: 15px;
  color: gold;
}
