.quiz-container {
  padding-top: 15rem;
  padding-left: 25rem;
  padding-right: 25rem
}
.quiz-div {
    background-color: rgb(72, 72, 68);
    border-style: solid;
    border-color: gold;
    text-align: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.leaderboard-div {
  background-color: rgb(72, 72, 68);
  border-style: solid;
  border-color: gold;
  text-align: center;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.back {
  position: absolute;
  top: 180px;
  left: 150px;
  font-size: 1.5rem;
}

.info-text {
  position: relative;
  color: gold;
  font-size: xx-large;
}

.select-button {
  position: relative;
  
}

.type-button {
  position: relative;
}

.leaderboard-button {
  position: relative;
  text-align: center;
  font-size: 1.5rem;
  border-style: solid;
  border-color: gold;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
