.teacher-box {
    background-color: rgb(72, 72, 68);
    border-style: solid;
    border-color: gold;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-left: 25rem;
    padding-right: 25rem;
}