.input-container-quiz {
  padding-top: 14rem;
  padding-right: 25rem;
  padding-left: 25rem;
  text-align: center;
}
.textbox {
  border-color: gold;
  border-style: solid;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.timer {
  text-align: right;
  color: gold;
}

.input-field {
  width: 600px;
  position: relative;
}

.abort {
  position: absolute;
  top: 140px;
}
